<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icubed.loansticdroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- <uses-feature -->
    <!-- android:name="android.hardware.camera.any" -->
    <!-- android:required="true" /> -->
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.camera.autofocus" -->
    <!-- android:required="false" /> -->
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".localdatabase.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.ResetPasswordActivity" />
        <activity android:name=".activities.CollectionDetailsActivity" />
        <activity android:name=".activities.CollectionActivity" />
        <activity android:name=".activities.PaymentActivity" />
        <activity android:name=".activities.LoanActivity" />
        <activity android:name=".activities.SavingsActivity" />
        <activity
            android:name=".activities.BorrowerActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.BranchesActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.AddSingleBorrower" />
        <activity android:name=".activities.SelectAddType" />
        <activity android:name=".activities.BusinessVerification" />
        <activity android:name=".activities.LetsVerifyBusiness" />
        <activity
            android:name=".activities.AddGroupBorrower"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.SelectGroupLeader" />
        <activity android:name=".activities.SelectCollectionLocation"></activity>
    </application>

</manifest>